@{
   @model TrackTap.Models.ChangePasswordModel  
}
      
@using (Ajax.BeginForm("ChangePasswordWithNew", "Account", null, new AjaxOptions
        {
            HttpMethod = "POST",
            OnSuccess = "ResetPasswordWithNewSuccess",
            OnFailure = "ResetPasswordWithNewFailed"
        }, new { id = "ResetPasswordWithNew-form", @style = "display: block;" }))
{

    <!DOCTYPE html>
    <style>
        .error {
            border: 1px solid red;
        }
    </style>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        @*<meta name="viewport" content="width=device-width, initial-scale=1">*@
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Peekabu - Login</title>

        <!-- Bootstrap -->

        <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
        <!-- Custom style -->
        <link href="~/Content/css/styles.css" rel="stylesheet" />
        <!-- Google font Droid sans-->
        <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
        <!-- Font awesome icons css -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        @Scripts.Render("~/bundles/jqueryval")
        <link href="~/Content/Plugins/toastr/toastr.css" rel="stylesheet" />
        <link href="~/Content/Plugins/toastr/toastr.min.css" rel="stylesheet" />
        <script src="~/Content/Plugins/toastr/toastr.min.js"></script>
        <script src="~/Content/Plugins/toastr/toastrConfig.js"></script>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

        <![endif]-->
    </head>
    <body>
        <div class="container">

            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="login-main">
                        <div class="forgot-pass-mbain">
                            <img class="img-responsive" src="/Content/img/logo.png" width="200" />
                            <h3 class="main-title">Change Your Password</h3>
                            @Html.HiddenFor(m => m.LoginGuid, new {Value=Model.LoginGuid })
                            @*<p class="custom-warning">
                                    Email address you use to log in to your account.
                                    We'll send you an email with instructions to choose a new password.
                                </p>*@
                            <form id="resetPassword">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label class="form-title">New Password</label>
                                        @*<input type="text" class="form-control" />*@
                                        @Html.TextBoxFor(m => m.password, new { @class = "form-control", id = "newPassword", placeholder = "Please Enter the Password", type = "password" })
                                        @Html.ValidationMessageFor(m => m.password)
                                    </div>
                                    <div class="form-group">
                                        <label class="form-title">Confirm Password</label>
                                        @*<input type="text" class="form-control" />*@
                                        @Html.TextBoxFor(m => m.confirmPassword, new { @class = "form-control", id = "newConfirmPassword", placeholder = "Please Enter the Password same as above", type = "password" })
                                        @Html.ValidationMessageFor(m => m.confirmPassword)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="button" id="btn-dummy-ChangeNewPassword" style="display:none;" class=" custom-btn" value="Submit" />
                                    <input type="submit" id="btn-ChangeNewPassword-submit"  class="custom-btn" value="Submit" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        @*<script src="js/bootstrap.js"></script>*@
        <script src="~/Content/js/bootstrap.js"></script>

        <script>
            //---------------------------------------

            $(document).on('click', '#btn-dummy-ChangeNewPassword', function () {
                var status = true;
                $('#resetPassword input[type="password"] , textarea , select').each(function () {
                    if ($(this).val() != null && $(this).val() != "") {
                        $(this).removeClass('error');
                      //alert('hi');
                    }
                    else {
                        status = false;
                        $(this).addClass('error');
                      //alert('hello');
                    }
                });
                setTimeout(function () {
                    if (status) {
                        $('#btn-ChangeNewPassword-submit').trigger('click');
                    }
                }, 250)
            });

            function ResetPasswordWithNewSuccess(result) {
                if (result.Status) {
                    result.Message = "Successful ...! Please Sign In";
                    toastrSuccess(result.Message);
                    setTimeout(function () {
                        window.location.href = "/Account/SchoolLogin";
                    }, 250);
                }
                else {
                    toastrError(result.Message);
                }
            }
            //--------------------------------------------------------
        </script>
    </body>
</html>
}
