@model TrackTap.Models.AddDayBookModel
@{
   
}

@using (Ajax.BeginForm("AddDayBook", "Journal", null, new AjaxOptions
{
    HttpMethod = "POST",
    OnSuccess = "AddDayBookSuccess",
    OnFailure = "AddDayBookFailed",
}, new { id = "form-login" }))
{
    <div class="col-md-6">

        <div class="form-group gap_bottom">
            <div class="col-md-3">
                <label>Type</label>
            </div>
            <div class="col-md-9">
                @Html.EnumDropDownListFor(m => m.TypeId, "--Choose--", new { @class = "form-control pv_account-type", @data_live_search = "true", name = "classDropdown", id = "day-book-type-idd" })
                @Html.ValidationMessageFor(m => m.TypeId)
            </div>
        </div>

        <div class="form-group gap_bottom">
            <div class="col-md-3">
                <label>Date</label>
            </div>
            <div class="col-md-9 calendar-inp pos_icon_adj">
                @Html.TextBoxFor(m => m.EntryDateString, new { @class = "form-control date-dayBook-add", placeholder = "" })
                <i class="fa "></i>
                @Html.ValidationMessageFor(m => m.EntryDateString)
            </div>
        </div>

        <div class="form-group gap_bottom">
            <div class="col-md-3">
                <label>Voucher No</label>
            </div>
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.VoucherNo, new { autocomplete = "off", placeholder = "Voucher No", @readonly = "readonly", @class = "form-control" })
                @Html.ValidationMessageFor(z => z.VoucherNo)
            </div>
        </div>

        <div class="form-group gap_bottom">
            <div class="col-md-3">
                <label>Account Head</label>
            </div>
            <div class="col-md-9">
                @Html.DropDownListFor(m => m.HeadId, TrackTap.Data.DropdownData.GetAccountHeads(Model.SchoolId), "--Choose--", new { @class = "form-control accHead-drop-down", @data_live_search = "true", name = "classDropdown", id = "day-book-head-id" })
                @Html.ValidationMessageFor(m => m.HeadId)
            </div>
        </div>

        <div class="form-group gap_bottom">
            <div class="col-md-3">
                <label>SubLedger</label>
            </div>
            <div class="col-md-9">
                @Html.DropDownListFor(m => m.SubLedgerId, new SelectList(
                  new List<Object>{
                       new { value = 0 , text = "--select division--"  }
                    },
                  "value",
                  "text"
                   ), new { @class = "form-control ", @data_live_search = "true", @disabled = "disabled" })
                @Html.ValidationMessageFor(m => m.SubLedgerId)
            </div>
        </div>

        <div class="form-group gap_bottom">
            <div class="col-md-3">
                <label>Amount</label>
            </div>
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.Amount, new { autocomplete = "off", placeholder = "Amount", @class = "form-control" })
                @Html.ValidationMessageFor(z => z.Amount)
            </div>
        </div>

        <div class="form-group gap_bottom">
            <div class="col-md-3">
                <label>Narration</label>
            </div>
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.Narration, new { autocomplete = "off", placeholder = "Narration", @class = "form-control" })
                @Html.ValidationMessageFor(z => z.Narration)
            </div>
        </div>

        <div class="form-group gap_bottom">
            <div class="modal-footer">
                <button type="button" id="btn-edit-daybook" class="btn pay-now-btn">Edit</button>
                <button type="submit" id="btn-save-daybook" class="btn pay-now-btn">Save</button>
                <button type="button" id="btn-print-daybook-add" class="btn pay-now-btn ">Print</button>
            </div>
        </div>
    </div>
}