
@model TrackTap.Models.AssetsLiabilityModel
@{

}

@using (Ajax.BeginForm("EditAssets", "Journal", null, new AjaxOptions
{
    HttpMethod = "POST",
    OnSuccess = "EditAssetsSuccess",
    OnFailure = "EditAssetsFailed",
}, new { id = "form-login" }))
{
    @Html.HiddenFor(m => m.Id)
    <div class="col-md-6">

        <div class="form-group gap_bottom">
            <div class="col-md-3">
                <label>Type</label>
            </div>
            <div class="col-md-9">
                @Html.EnumDropDownListFor(m => m.TypeId, "--Choose--", new { @class = "form-control pv_assests-type", @data_live_search = "true", name = "classDropdown", id = "assets-type-id" })
                @Html.ValidationMessageFor(m => m.TypeId)
            </div>
        </div>

        <div class="form-group gap_bottom">
            <div class="col-md-3">
                <label>Date</label>
            </div>
            <div class="col-md-9 calendar-inp pos_icon_adj">
                @Html.TextBoxFor(m => m.EntryDateString, new { @class = "form-control date-assests-add-date", placeholder = "" })
                <i class="fa "></i>
                @*@Html.ValidationMessageFor(m => m.EntryDateString)*@
            </div>
        </div>

        <div class="form-group gap_bottom">
            <div class="col-md-3">
                <label>Invoice No</label>
            </div>
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.InviceNumber, new { autocomplete = "off", placeholder = "Invice No", @readonly = "readonly", @class = "form-control" })

            </div>
        </div>

        <div class="form-group gap_bottom">
            <div class="col-md-3">
                <label>Account Head</label>
            </div>
            <div class="col-md-9">
                @Html.DropDownListFor(m => m.HeadId, TrackTap.DataLibrary.Data.DropdownData.GetAccountHeads(Model.SchoolId), "--Choose--", new { @class = "form-control ", @data_live_search = "true", name = "classDropdown", id = "assests-head-id" })
                @Html.ValidationMessageFor(m => m.HeadId)
            </div>
        </div>

        <div class="form-group gap_bottom">
            <div class="col-md-3">
                <label>Amount</label>
            </div>
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.Amount, new { autocomplete = "off", placeholder = "Amount", @class = "form-control", id = "amount-assets-id" })
                @Html.ValidationMessageFor(z => z.Amount)
            </div>
        </div>

        <div class="form-group gap_bottom">
            <div class="col-md-3">
                <label>Add Amount</label>
            </div>
            <div class="col-md-1">
                @Html.CheckBoxFor(m => m.AddStatus, new { @class = "form-control cust-inp", placeholder = "",id="addstatus-id-check" })
            </div>
        </div>

        <div class="form-group gap_bottom">
            <div class="col-md-3">
                <label>Narration</label>
            </div>
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.Narration, new { autocomplete = "off", placeholder = "Narration", @class = "form-control" })
                @Html.ValidationMessageFor(z => z.Narration)
            </div>
        </div>

        <div class="form-group gap_bottom">
            <div class="modal-footer">
                <button type="button" id="btn-cancel-assets" class="btn ">Cancel</button>
                <button type="submit" id="btn-edit-save-assets" class="btn pay-now-btn">Edit</button>
                <button type="button" id="btn-print-assets-edit" class="btn pay-now-btn">Print</button>
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function () {
    $('#assets-type-id').attr("disabled","disabled");
    });
</script>
