@model TrackTap.Models.AddClassModel
<div class="modal-dialog modal-sm" role="document">
    <style>
        span {
            color: red;
        }
    </style>
    @using (Ajax.BeginForm("AddClassUnPublished", "Promotion", null, new AjaxOptions
    {
        HttpMethod = "POST",
        OnSuccess = "AddClassSuccess",
        OnFailure = "ajaxFailure",
    }, new { id = "form-login" }))
    {
        @Html.HiddenFor(z => z.SchoolId, new { Value = @Model.SchoolId })
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Class</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Class</label>
                    @Html.DropDownListFor(m => m.ClassName, TrackTap.Data.DropdownData.GetClassAllList(), "--Choose--", new { @class = "form-control", @data_live_search = "true" })
                    @Html.ValidationMessageFor(z => z.ClassName)
                </div>
                <div class="form-group">
                    <label>Division</label>
                    @Html.TextBoxFor(m => m.Division, new { autocomplete = "off", placeholder = "Division", @class = "form-control" })
                    @Html.ValidationMessageFor(z => z.Division)
                </div>
                <div class="form-group">
                    <label>Academic Year</label>
                    @Html.DropDownListFor(m => m.AcademicYearId, TrackTap.Data.DropdownData.GetCurrentAcademicYear(), "--Choose--", new { @class = "form-control", @data_live_search = "true" })
                    @Html.ValidationMessageFor(z => z.AcademicYearId)
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button class="btn pay-now-btn">Save</button>
            </div>
        </div>
    }
</div>
