@model TrackTap.Models.StudentModel
@{
    long schoolId = Model.schoolId;
    long classId = Model.classId;
    long divisionId = Model.divisionId;
    var data = new TrackTap.DataLibrary.Data.School(schoolId).GetAllStudentdata(classId, divisionId);
}
<thead>
    <tr>
        <th>
            Slno
        </th>
        <th>
            Student Name
        </th>
        <th class="hideColumn">
            Class / Div
        </th>
        <th>
            Admission No
        </th>
        <th>
            Parent Name
        </th>
        <th>
            Contact No
        </th>

        <th>
            Bus Name
        </th>
    </tr>
</thead>
<tbody>
    @{
      
        int i = 1;
        foreach (var one in data)
        {
            <tr>
                <td>
                    @i
                </td>
                <td>
                    @one.StundentName.ToString()
                </td>
                <td class="hideColumn">
                    @one.ClassName / @one.DivisionName
                </td>
                <td>
                    @one.StudentSpecialId
                </td>
                <td>
                    @one.ParentName
                </td>
                <td>
                    @one.ContactNumber
                </td>
                <td>
                    @if (one.Bus.BusId == 1)
                    {
                        {<p>NA</p> }
                    }
                    else
                    {
                        @one.Bus.BusName
                    }

                </td>
            </tr>
            i = i + 1;

        }
    }
</tbody>
