<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>SchoolMan | Online School Management Systems </title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!--Meta-->
    <meta name="description" content="SchoolMan is a complete management application for school administration, teachers and parents, it provides a web as well as mobile application which can be downloaded from Google Play store.">
    <meta name="keywords" content="Schoolman, class management software, school management software, class software, School software, web based school management system, online school management systems, school management software, school management system, Online School Tutorial, Online school payment, school fee payment, timetable, schedule, timetable software, school scheduling">
    <meta name="author" content="SchoolMan">
    <!--Meta-->
    @Scripts.Render("~/bundles/jqueryval")

      @*//commented by  basheer on 30-04-2019*@
        @*<!-- Bootstrap -->
          <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
          <!-- Custom Style -->
          <link href="~/Content/css/accountStyles.css" rel="stylesheet" />
        <!-- Font awesome icons css -->
          <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
          <!-- Google Font -->
          <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">
          <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet">
          <!-- Font awesome css -->
          <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
          <!-- Favicon -->
          <link href="~/Content/img/favicon.png" rel="shortcut icon" />*@





    <link href="~/Content/Plugins/toastr/toastr.min.css" rel="stylesheet" />
        <script src="~/Content/Plugins/toastr/toastr.min.js"></script>
        <script src="~/Content/Plugins/toastr/toastrConfig.js"></script>

    @*Comment end here basheer*@



    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">

    <!-- Lato Google font -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- owl carosel CSS -->
    <link rel="stylesheet" href="~/Content/css/owl.carousel.min.css">
  
    <!-- secondary CSS -->
    <link rel="stylesheet" href="~/Content/css/new_style.css">

    <!-- main CSS -->
    <link rel="stylesheet" href="~/Content/css/style.css">
    <title>Schoolman</title>


</head>
<body>

    @*<style>
                    .menu li.active a {
                        color: #fa6e83;
                    }

                    .full-loader-dev {
                        position: fixed;
                        left: 0px;
                        top: 0px;
                        width: 100%;
                        height: 100%;
                        z-index: 19999;
                        background: url(/Content/img/preloader.gif) center no-repeat rgb(255, 255, 255) !important;
                        background-size: 350px;
                        background-position: center;
                        content: '';
                    }
                    /* Styles for validation helpers
            -----------------------------------------------------------*/
                    #contactForm .field-validation-error {
                        position: absolute;
                        bottom: 0px;
                        left: 15px;
                    }

                    .field-validation-error {
                        color: #f00;
                    }

                    .field-validation-valid {
                        display: none;
                    }

                    .input-validation-error {
                        border: 1px solid #f00;
                        background-color: #fee;
                    }

                    .validation-summary-errors {
                        font-weight: bold;
                        color: #f00;
                    }

                    .validation-summary-valid {
                        display: none;
                    }
        </style>*@

    @{
        var action = ViewContext.RouteData.Values["action"].ToString().ToLower();
        var controller = ViewContext.RouteData.Values["controller"].ToString().ToLower();
    }

    @*basheeer comment start
        <div class="se-pre-con"></div>
        <div class="full-loader-dev"></div>
        <section class="header">
            <input type="checkbox" id="toggle" />
            <nav id="site-nav" class="site-nav">
                <div class="container">
                    <div class="logo"><a href="/Account/Home"><img class="img-responsive" src="~/Content/img/logo.png" style="width: 211px;" /></a></div>
                    <label class="navBars" for="toggle"> <i class="fa fa-bars"></i> </label>
                    <ul id="menu" class="menu">
                        <li class="@(((controller == "account" && action == "home")) ? "active" : "")"><a href="/Account/Home">Home</a></li>
                        <li class="@(((controller == "account" && action == "aboutus")) ? "active" : "")"><a href="/Account/AboutUs">About us</a></li>
                        <li class="@(((controller == "account" && action == "contactus")) ? "active" : "")"><a href="/Account/ContactUs">Contact us</a></li>
                    </ul>
                </div>
            </nav>
        </section>

            basheer comment end here*@

    @*<section class="preheader">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="contents_upper">
                        <div class="upper_srch">
                            <div class="form-group">
                                <input type="text" class="form-control">
                                <button type="submit" class="btn search-btn"><span class="fa fa-search"></span></button>
                            </div>
                        </div>
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div><!-- .contents_upper end-->
                </div><!-- .col-12 end-->
            </div><!-- .row end-->
        </div><!-- .container end-->
    </section><!-- .preheader end-->*@

    <section class="header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="upper_nav">
                        <div class="logo">
                            <a href="/Account/Home"><img src="~/Content/images/logo.png"></a>
                        </div>

                        <div class="mobile_menu">
                            <i class="fas fa-bars"></i>
                        </div>
                        <div class="Nav_lnks">
                            <ul>
                                <li class="@(((controller == "account" && action == "home")) ? "active" : "")"><a href="/Account/Home">Home</a></li>
                                @*<li class="dropdown">
                                    <a href="/Account/AboutUs">About Us </a>
                                    <span class="caret my-menu-items dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"></span>
                                    <ul class="dropdown-menu about_menu" role="menu">
                                        <li><a href="/Account/Features">Features</a></li>
                                        <li><a href="/Account/Packages">Packages</a></li>
                                    </ul>
                                </li>*@
                                <li class="dropdown active">
                                    <div class="dropbtn">About Us</div>
                                    <div class="dropdown-content">
                                        <a href="/Account/AboutUs">About</a>
                                        <a href="/Account/Features">Features</a>
                                        <a href="/Account/Packages">Packages</a>
                                    </div>
                                </li>
                                <li><a href="/Account/OurClients">Our Clients</a></li>
                                <li class="@(((controller == "account" && action == "contactus")) ? "active" : "")"><a href="/Account/ContactUs">Contact us</a></li>
                            </ul>
                        </div>
                    
                   
                    </div><!-- .upper_nav end-->
                </div><!-- .col-12 end-->
            </div><!-- .row end-->
        </div><!-- .container end-->
    </section><!-- .header end-->

    @RenderBody()

    @*basheer comment start
            <section class="footer-reg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <span class="copyright"><i class="fa fa-copyright"></i> 2017. All rights reserved</span>
                        </div>
                        <div class="col-md-4">
                            <img class="img-responsive center-block" src="~/Content/img/footer-logo.png" style="width: 175px;"/>
                        </div>
                        <div class="col-md-4">
                            <ul class="text-right foot-menu">
                                <li><a href="/Account/TermsConditions">Terms & Conditions</a></li>
                                <li><a href="/Account/Privacypolicy">Privacy policy</a></li>
                                <li><a href="/Account/Disclaimer">Disclaimer</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>


            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
            <!-- Include all compiled plugins (below), or include individual files as needed -->
            <script src="~/Content/js/bootstrap.js"></script>

        </body>
        </html>
        <script>
            $(window).load(function () {
                // Animate loader off screen
                $(".se-pre-con").fadeOut("slow");
                $(".full-loader-dev").hide();

            });
            //Loader
            $(document).ajaxStart(function () {
                $(":submit").attr("disabled", true);
                //$('body').pleaseWait();
                ajaxLoaderStart();
            });
            $(document).ajaxComplete(function () {
                $(":submit").attr("disabled", false);
                //$('body').pleaseWait('stop');
                ajaxLoaderStop();
            });

            function ajaxLoaderStart() {
                $(".se-pre-con").show();
            }

            function ajaxLoaderStop() {
                $(".se-pre-con").hide()

            }



        </script>

        basheeer comment end*@

    <section class="prefooter">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 prefooter_des">
                    <div class="prefooter_logo">
                        <img src="~/Content/images/footerlogo.png">
                    </div>
                    <div class="quick_note">
                        SchoolMan is a complete management application for school administration, teachers and parents, it provides a web as well as mobile application which can be downloaded from Google Play store. The mobile application will be customized to the particular school with school name.
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 pre_footbrd prefooter_des">
                    <div class="links_head">
                        <h4>QUICK LINKS</h4>
                    </div>
                    <div class="quick_links">
                        <ul>
                            <li class="@(((controller == "account" && action == "home")) ? "active" : "")"><a href="/Account/Home">Home</a></li>
                            <li>
                                <a href="/Account/AboutUs">About Us </a>

                            </li>
                            <li><a href="/Account/OurClients">Our Clients</a></li>
                            <li class="@(((controller == "account" && action == "contactus")) ? "active" : "")"><a href="/Account/ContactUs">Contact us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 prefooter_des">
                    <div class="links_head">
                        <h4>INFORMATION</h4>
                    </div>
                    <div class="info">
                        <ul>
                            <li>
                                <span><i class="fas fa-map-marker-alt"></i></span>1C, 1st Floor, Carnival Technopark,<br>
                                Technopark Campus, <br>
                                Trivandrum - 695 581.
                            </li>
                            <li><span><i class="fas fa-phone-volume"></i></span>+91 90 72 442200</li>
                            <li><span><i class="fas fa-phone-volume"></i></span>0471-4062181</li>
                            <li><span><i class="far fa-envelope"></i></span> info@schoolman.in</li>
                        </ul>
                    </div>
                </div>
            </div><!-- .row end-->
        </div> <!-- .container end-->
    </section><!-- .prefooter end-->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer_contents">
                        <div class="copy_ryt">
                            © 2019 All rights reserved.
                        </div>
                        <div class="footer_lgo">
                            <img src="~/Content/images/footerlogo.png">
                        </div>
                        <div class="legal_pts">
                            <ul>
                                @*<li>Terms and condition</li>
                                <li>Privacy policy</li>
                                <li>Disclamier</li>*@
                                <li><a href="/Account/TermsConditions">Terms & Conditions</a></li>
                                <li><a href="/Account/Privacypolicy">Privacy policy</a></li>
                                <li><a href="/Account/Disclaimer">Disclaimer</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>


    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>

    <!-- toggle menu JavaScript -->

    <script>
      $('.mobile_menu').click(function(){
          $('.Nav_lnks ul').toggle();
      });

    </script>

    <script>
            $(document).ready(function() {
              $('.owl-carousel').owlCarousel({
                loop: true,
                margin: 10,
                  nav:false,
                  dot:true,
                responsiveClass: true,
                responsive: {
                  0: {
                    items: 1,
                      dot:false,
                    nav: true
                  },
                  600: {
                    items: 2,
                    nav: false
                  },
                  1000: {
                    items: 2,
                    //nav: true,
                    loop: false,
                    margin: 20
                  }
                }
              })
            })
    </script>


    <script>
        $(window).on('scroll', function(){
            if ($(window).scrollTop() > 100) {
                $('.header').addClass('head_fix');
                }

            else {
                $('.header').removeClass('head_fix');
                ;
                }
            });
    </script>

    <script>
      $('.my-menu-items').click(function(){
          $('.about_menu').toggle();
      });

    </script>

    @*old files on 05/03/2019 basheer*@

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Content/js/bootstrap_New.js"></script>


</body>
</html>

<script>
            $(window).load(function () {
                // Animate loader off screen
                $(".se-pre-con").fadeOut("slow");
                $(".full-loader-dev").hide();

            });
            //Loader
            $(document).ajaxStart(function () {
                $(":submit").attr("disabled", true);
                //$('body').pleaseWait();
                ajaxLoaderStart();
            });
            $(document).ajaxComplete(function () {
                $(":submit").attr("disabled", false);
                //$('body').pleaseWait('stop');
                ajaxLoaderStop();
            });

            function ajaxLoaderStart() {
                $(".se-pre-con").show();
            }

            function ajaxLoaderStop() {
                $(".se-pre-con").hide()

            }



</script>