@model TrackTap.Models.SchoolListdata
@{
    ViewBag.Title = "SchoolModuleListView";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h3 style="margin-top: 5px;">School Module List</h3>
        <div class="table-responsive ">

            <table class="table custome-table module-list" id="myTable">
                <thead>
                    <tr>
                        <th>
                            Sl No
                        </th>
                        <th>
                            School Name
                        </th>                        
                        <th>
                            Main Module
                        </th>
                        <th>
                            Sub Modules
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.list)
                    {
                        <tr>
                            <td>@item.SlNo</td>
                            <td>@item.Schoolname</td>
                            <td>@item.Main</td>
                            <td>@item.Sub</td>
                            <td data-SubId="@item.SubId">
                                <button class="delete-module-tr btn-peek"><i class="fa fa-trash "></i></button> 
                            </td>
                        </tr>
                    }
                </tbody>
            </table>



        </div>
    </div>
</div>

<script>

    $(document).on('click', '.delete-module-tr', function () {
        var source = $(this);
        swal({
            title: "Are you sure?",
            text: "You will not be able to undo this !",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete it!",
            cancelButtonText: "No, cancel it!",
            closeOnConfirm: true,
            closeOnCancel: true
        },
function (isConfirm) {
    if (isConfirm) {
        $.ajax({
            url: '/Module/DeleteModule/' + $(source).parent().attr('data-SubId'),
            type: "GET",
            dataType: 'json',
            success: function (data) {
                if (data.status) {
                    toastrSuccess(data.msg);
                    setTimeout(function () {
                        window.location.href = '/Module/SchoolModuleListView/';
                    }, 200);
                }
                else {
                    toastrError(data.msg);
                }
            }
        });
    }
});

    });

    function IntializeDataTable() {
        $("#myTable").dataTable().fnDestroy()
        $("#myTable").dataTable();
    }
    $(document).ready(function () {
        IntializeDataTable();
    });
</script>

