@model TrackTap.Models.SMSHistoryModel
@{
    //var Currentcount = ViewBag.msgCount;
    //var totalcount = ViewBag.TotalCount;
    var item = Model.headId;
    var data = new TrackTap.Data.SmsHead(item).SmsHistory;
}
<div class="form-group">
    <button class="btn btn-peek" id="devivery-status-student" <i></i> Delivery Status </button>
</div>
<input type="hidden" value="@item" id="headt-Id" />
<div class="table-responsive">
    <table class="table custome-table" id="smsList">
        <thead>
            <tr>
                <th>
                    Slno
                </th>
                <th>
                    Date
                </th>
                <th>
                    Student Name
                </th>
                <th>
                    Class
                </th>
                <th>
                    Division
                </th>
                <th>
                    Content
                </th>
                <th>
                    Send Status
                </th>
                <th>
                    Delivery Status
                </th>
               
            </tr>
        </thead>
        <tbody>
            @{
                string DelivaryStatus = "";
                string SendStatus = "";
                string Date = "";
                var index = 1;
                if (data.Count > 0)
                {
                    foreach (var sms in data)
                    {
                        <tr class="ng-click" data-id="@sms.Id">
                            <td>
                                @index
                            </td>
                            <td>
                                @*@sms.MessageDate.ToString("dd-MM-yyyy")*@
                                @if (sms.MessageDate != null)
                                {
                                    Date= Convert.ToDateTime(sms.MessageDate).ToString("dd/MM/yyyy");

                                }
                                @Date
                            </td>
                            <td>
                                @sms.StuedentName
                            </td>
                            <td>
                                @sms.StudentClass
                            </td>
                            <td>
                                @sms.StudentDivision

                            </td>
                            <td>
                                @sms.MessageContent
                            </td>
                            <td>
                                @if (sms.SendStatus == "1")
                                {
                                    SendStatus = "Successful";
                                }
                                else
                                {
                                    SendStatus = "Failed";
                                }
                                @SendStatus
                            </td>
                            <td>
                               @if (sms.DelivaryStatus != null)
                               {
                                   DelivaryStatus = sms.DelivaryStatus;
                               }
                               else
                               {
                                   DelivaryStatus = "Failed";
                               }
                            @DelivaryStatus
                            </td>
                            
                        </tr>
                        index++;
                    }
                }
            }
        </tbody>
    </table>

</div>
