@model TrackTap.Models.FilterModel
@{
    var school = new TrackTap.DataLibrary.Data.School(Model.schoolId);
}
<thead>
    <tr>
        <th>
            Slno
        </th>
        <th>
            Class
        </th>
        <th>
            Division
        </th>
        <th>
            Academic Year
        </th>
        <th>

        </th>
    </tr>
</thead>
<tbody>
    @{
        if (school != null)
        {
            int i = 1;
            var getClass = new List<TrackTap.DataLibrary.Data.Class>();
            if (Model.ClassName != string.Empty && Model.ClassName != null)
            {
                getClass = school.Class.Where(z => z.ClassName.ToLower() == Model.ClassName.ToLower()).ToList().OrderBy(z => z.ClassOrder).ToList();
            }
            else
            {
                getClass = school.Class.ToList().OrderBy(z => z.ClassOrder).ToList();
            }
            if (getClass.Count > 0)
            {
                foreach (var item in getClass)
                {
                    foreach (var div in school.Divisions.Where(z => z.ClassId == item.ClassId && z.IsActive && z.Class.PublishStatus == false).ToList().OrderBy(z => z.DivisionName).ToList())
                    {
                        <tr data-classid="@item.ClassId" data-divid="@div.DivisionId">
                            <td class="ng-click" data-classid="@item.ClassId" data-divid="@div.DivisionId">
                                @i
                            </td>
                            <td class="ng-click" data-classid="@item.ClassId" data-divid="@div.DivisionId">
                                @item.ClassName
                            </td>
                            <td class="ng-click" data-classid="@item.ClassId" data-divid="@div.DivisionId">
                                @div.DivisionName
                            </td>
                            <td class="ng-click" data-classid="@item.ClassId" data-divid="@div.DivisionId">
                                @div.Class.AccademicYearName
                            </td>
                            <td>
                                <button class="delete-class-tr btn btn-peek" data-classid="@item.ClassId" data-divid="@div.DivisionId"><i class="fa fa-trash"></i></button>
                                @*    <button class="edit-class-tr" data-classid="@item.ClassId" data-divid="@div.DivisionId"><i class="fa fa-edit"></i></button>*@
                           
                                <button class="publish-class-tr btn btn-sm btn-info" data-classid="@item.ClassId" data-divid="@div.DivisionId">Publish</button>
                                @*    <button class="edit-class-tr" data-classid="@item.ClassId" data-divid="@div.DivisionId"><i class="fa fa-edit"></i></button>*@
                            </td>
                        </tr>
                        i++;
                    }
                }
            }
            else
            {

            }
        }
        else
        {

        }
    }
</tbody>