@model TrackTap.Models.AddCircularNotification


@using (Ajax.BeginForm("SubmitAddCircularNotifications", "School", null, new AjaxOptions
{
    HttpMethod = "POST",
    OnSuccess = "CircularNotificationsAddSuccess",
    OnFailure = "CircularNotificationsAddFailed"
}, new { id = "form-login" }))
{
    <div class="col-md-4 col-md-offset-4 " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel1">Add Circular Notifications</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <span class="col-md-12">
                        <label class="cust-label">Document Date</label>
                        <div class="calendar-inp row">
                            <div class="col-md-6" style="margin-top: 20px;">
                                <i style="position: absolute; top: 10px; right: 25px;" class="fa fa-calendar"></i>
                                @Html.TextBoxFor(m => m.DocumentDateString, new { autocomplete = "off", placeholder = "Select Date", @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.DocumentDateString)
                            </div>
                           
                        </div>
                    </span>
                </div>

                <div class="form-group">
                    <span class="col-md-12">
                        <label class="cust-label" style="padding-top:1%;">File</label>
                        <div class="uploader-box td-uploder ">
                            <input type="file" class="upload-file upload-clean-Formats-dev" />
                            <button class="btn-link btn-link-pink"><i class="fa fa-cloud-upload" aria-hidden="true"></i></button>
                        </div>
                        @Html.HiddenFor(m => m.FilePath, new { @style = "border:white; color:white; Backgroud-color:white; width:1px;", placeholder = "" })
                        @Html.ValidationMessageFor(m => m.FilePath)
                    </span>
                </div>

                <div class="form-group">
                    <span class="col-md-12">
                        <label class="cust-label">Description</label>
                        @Html.TextAreaFor(m => m.DocumentDetails, new { @class = "form-control cust-inp", placeholder = "" })
                        @Html.ValidationMessageFor(m => m.DocumentDetails)
                    </span>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button class="btn pay-now-btn">Save</button>
            </div>
        </div>


    </div>
}
<script>
    $('#DocumentDateString').datepicker({
        format: "dd-mm-yyyy",
        autoclose: true,
        todayHighlight: true
    });
    $(document).ready(function () {
        $('#DocumentDate').val('');
    });
    //$('#calendar-demo').dcalendar(); //creates the calendar
    $(document).on('change', '.upload-clean-Formats-dev', function () {
        //debugger;
        var source = $(this);
        var userId = $('#UserId').val();
        var formData = new FormData();
        formData.append("documentFile", this.files[0]);
        formData.append("UserId", userId);
        $.ajax({
            type: "POST",
            url: "/School/DocumentUpload",
            dataType: 'json',
            data: formData,
            contentType: false,
            processData: false,
            beforeSend: function (xhr) {
            },
            success: function (response) {
                if (response.Status) {
                    var data = response.UserData;
                    $('#FilePath').val(data);
                }
                else {
                    toastrError('No such Files!');
                }
            },
            error: function (data) {
            }
        });

    });


    function CircularNotificationsAddSuccess(result) {
        if (result.status == true) {
            //debugger;
            $('#modalAddCircular').modal('hide');
            RefresData();
            toastrSuccess(result.message);
        }
        else {
            toastrError("error")
        }
    }

    function CircularNotificationsAddFailed() {
        $('#modalAddCircular').modal('hide');
        RefresData();
        toastrError('Failed!');
    }

</script>