@model TrackTap.Models.FilterModel
@{

    var examList = new TrackTap.Data.School(Model.schoolId);
}
<thead>
    <tr>
        <th>
            Slno
        </th>
        <th>
            Class
        </th>
        <th>
            Division
        </th>
        <th>
            Exam Name
        </th>
        <th>
            Date
        </th>
        <th width="15%">
            #
        </th>
       
    </tr>
</thead>
<tbody>
    @{
        if (examList != null)
        {
            int i = 1;
            foreach (var item in examList.AllExamList(Model.ClassName))
            {
                <tr style="cursor: pointer !important;">
                    <td class="exam-row" data-id="@item.ExamId" >
                        @i
                    </td>
                    <td  class="exam-row" data-id="@item.ExamId" >
                        @item.ClassName
                    </td>
                    <td  class="exam-row" data-id="@item.ExamId" >
                        @item.DivisionName
                    </td>
                    <td  class="exam-row" data-id="@item.ExamId" >
                        @item.ExamName
                    </td>
                    <td  class="exam-row" data-id="@item.ExamId" >
                        @item.ExamDate.ToString("dd/MM/yyyy")
                    </td>
                    <td width="15%">
                        <button class="delete-exam-tr btn btn-peek delete-exam-data"  data-id="@item.ExamId"><i class="fa fa-trash "></i></button>
                        <button class="edit-exam-tr btn pay-now-btn edit-exam-data" data-id="@item.ExamId" ><i class="fa fa-edit "></i></button>
                    </td>
                </tr>
                i++;
            }
        }
        else
        {

        }
    }
</tbody>