@model TrackTap.Models.CircularList
@{
    var circular = new TrackTap.Data.School(Model.schoolId);
}
<thead>
    <tr>
        <th>
            Slno
        </th>
        <th>
            Date
        </th>
        <th>
            Description
        </th>
        <th>
            File Path
        </th>
        <th>
            #
        </th>
    </tr>
</thead>
<tbody>
    @{
        if (circular != null)
        {
            int i = 1;
            foreach (var item in circular.AllCircularList())
            {
                var url = "http://www.schoolman.in/" + item.FilePath;
                //var url = "http://localhost:16138/" + item.FilePath;
                <tr class="" data-feeid="@item.CircularId">
                    <td class="ng-click-feeDetails" data-circularid="@item.CircularId" >
                        @i
                    </td>
                    <td class="ng-click-feeDetails" data-circularid="@item.CircularId" >
                        @item.CircularDate.ToString("dd/MM/yyyy")
                    </td>
                    <td class="ng-click-feeDetails" data-circularid="@item.CircularId" >
                        @item.Description
                    </td>
                    <td class="ng-click-feeDetails" data-circularid="@item.CircularId">
                      
                        @if (item.FilePath == null)
                        {
                            <p>No Files</p>
                        }
                        else
                        {
                        <a href="@url" target="_blank">Click Here</a>
                        }
                    </td>
                    <td>
                        <button class="delete-fee-tr btn btn-peek delete-circular-data" data-id="@item.CircularId" ><i class="fa fa-trash "></i></button>
                        <button class="edit-fee-tr btn pay-now-btn edit-circular-data" data-id="@item.CircularId" ><i class="fa fa-edit "></i></button>
                    </td>
                </tr>
                i++;
            }
        }
        else
        {

        }
    }
</tbody>