    @model TrackTap.Models.SchoolModel
@{
    var discounts = new TrackTap.Data.School(Model.schoolId).GetStudentDiscountList().OrderBy(z => z.student.StundentName).ToList();
}<div class="table-responsive">
    <table class="table custome-table table-student-list">
        <thead>
            <tr>
                @*<th>

                </th>*@
                <th>
                    Name
                </th>
                <th>
                    Class/Division
                </th>
                <th>
                    Fee Name
                </th>
                <th>
                    Discounted Amount
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var discount in discounts)
            {
                <tr class="ng-click-studentDiscount-details" data-studentid="@discount.studentId">
                    @*@if (discount.student.FilePath != null)
                    {
                        <td class="ng-click-studentDiscount-details">
                            <img src="@discount.student.FilePath" class="user-pic-tab" />
                        </td>
                    }
                    else
                    {
                        <td class="ng-click-studentDiscount-details">
                            <img src="~/Content/img/children-1.gif" class="user-pic-tab" />
                        </td>
                    }*@
                    <td class="ng-click-studentDiscount-details">
                        @discount.student.StundentName
                    </td>

                    <td class="ng-click-studentDiscount-details">
                        @discount.student.ClassName / @discount.student.DivisionName
                    </td>
                    <td class="ng-click-studentDiscount-details">
                        @discount.feename
                    </td>
                    <td class="ng-click-studentDiscount-details">
                        @String.Format("{0:0.00}", discount.discountAmount)

                    </td>
                    <td>
                        <button class="delete-fee-tr btn btn-peek" data-id="@discount.studentId" data-feeid="@discount.feeId"><i class="fa fa-trash "></i></button>
                        <button class="edit-fee-tr pay-now-btn btn" data-id="@discount.studentId" data-feeid="@discount.feeId"><i class="fa fa-edit "></i></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

