@model TrackTap.Models.SchoolModel

@{
    List<TrackTap.DataLibrary.Data.Student> students;


    if (Model.divisionId != 0)
    {
         students = new TrackTap.DataLibrary.Data.Division(Model.divisionId).GetStudentDetails();
    }
    else
    {
        if (Model.classId != 0)
        {
            students = new TrackTap.DataLibrary.Data.Class(Model.classId).GetStudentDetails();
        }
        else
        {
            students = new TrackTap.DataLibrary.Data.School(Model.schoolId).GetStudentDetails().OrderBy(z => z.StundentName).ToList();
        }
    }


}
<div class="table-responsive">
    <table class="table custome-table table-student-list">
        <thead>
            <tr>

                <th>
                    Name
                </th>
                <th>
                    Parent
                </th>
                @*<th>
                        Address
                    </th>*@
                <th>
                    Contact
                </th>
                <th>
                    Class/Division
                </th>
                <th>
                    Bus Name
                </th>
                <th>
                    Admn No
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in students)
            {

                <tr style="cursor: pointer !important;">
                    <td class="student-row" data-id="@student.StudentId">
                        @if (student.FilePath != null)
                        {

                            <img src="@student.FilePath" class="user-pic-tab" />
                        }
                        else
                        {
                            <img src="~/Content/img/children-1.gif" class="user-pic-tab" />
                        }
                        @student.StundentName
                    </td>
                    <td class="student-row" data-id="@student.StudentId">
                        @student.ParentName
                    </td>
                    @*<td>
                            @student.Address
                        </td>*@
                    <td class="student-row" data-id="@student.StudentId">
                        @student.ContactNumber
                    </td>
                    <td class="student-row" data-id="@student.StudentId">
                        @student.ClassName/@student.DivisionName
                    </td>
                    <td class="student-row" data-id="@student.StudentId">
                        @if (student.Bus.BusId != 1)
                        {
                            @student.Bus.BusName}
                        else
                        {<p>NA</p> }

                    </td>
                    <td class="student-row" data-id="@student.StudentId">
                        @student.StudentSpecialId
                    </td>
                    <td>
                        <button class="delete-student-td btn btn-peek" data-studentid="@student.StudentId"><i class="fa fa-trash "></i></button>
                        <button class="edit-student-td btn pay-now-btn" data-studentid="@student.StudentId"><i class="fa fa-edit "></i></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>