    @model TrackTap.Models.FeeModel
@{
    ViewBag.Title = "Assign Discount";
    Layout = "~/Views/Shared/_SchoolAdminLayout.cshtml";
    var students = new TrackTap.Data.Division(Model.DivisionId).GetStudentDetails().OrderBy(z => z.StundentName).ToList();
}

<style>
    .ng-click-studentDiscount-details {
        cursor: pointer;
    }

    .box-color {
        background-color: #fff;
        display: block;
        position: relative;
        float: left;
        width: 100%;
        margin-bottom: 15px;
        /*padding-top: 15px;*/
    }

    .head-box {
        margin-top: 0px;
        background-color: #03a9f4;
        padding: 15px;
        margin-left: -15px;
        margin-right: -15px;
        color: #fff;
        font-weight: 700;
    }
</style>
@Html.HiddenFor(z => z.FeeId, new { Value = @Model.FeeId })


<div class="row">
    <div class="col-md-12">
        <h3 style="margin-bottom: 0px;">Special Fee</h3>
        <div class="box-color">
            <div class="col-sm-12" style="border-bottom: 1px solid #ccc;">
                <h5 class="head-box">Special Fee</h5>
                <div class="row">
                    <div class="col-sm-6">
                        <label>Amount</label>
                        @Html.TextBoxFor(m => m.Amount, new { @class = "form-control", placeholder = "Amount", @type = "number", @style="max-width: 200px;display: inline-block;margin-left: 10px;" })
                        <span id="val_amount" class="isHidden">*Amount required</span>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group text-right">
                            @*<button class="btn pay-now-btn" data-toggle="modal" data-target="#modalStudent"><i class="fa fa-plus"></i> Add Student</button>*@
                            <button class="btn pay-now-btn" data-toggle="modal" id="saveDiscount"><i class="fa fa-save"></i> Save Fee</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="pv-table">
            <div class="">
                <table class="table custome-table table-student-list">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Parent Name
                            </th>
                            <th>
                                Address
                            </th>
                            <th>
                                Contact No.
                            </th>
                            <th>
                                Class/Division
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var student in students)
                        {

                            <tr class="ng-click-studentDiscount-details">

                                <td>
                                    <label style="margin-right: 10px;">
                                        <input id="chkBox-user" class="checkbox-input" type="checkbox" data-id="@student.StudentId" onchange="AddRemoveUser(this)" />
                                        <span class="checkbox-virtual"></span>
                                    </label>


                                    @*@if (student.FilePath != null)
                                    {
                                        <img src="@student.FilePath" class="user-pic-tab" />
                                    }
                                    else
                                    {
                                        <img src="~/Content/img/children-1.gif" class="user-pic-tab" />
                                    }*@
                                    @student.StundentName
                                </td>
                                <td>
                                    @student.ParentName
                                </td>
                                <td>
                                    @student.Address
                                </td>
                                <td>
                                    @student.ContactNumber
                                </td>
                                <td>
                                    @student.ClassName / @student.DivisionName
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div><!-- end of col md 12 -->
</div>

<script>

    //$(document).on('click', '.ng-click-studentDiscount-details', function () {
    //    window.location.href = "/School/DiscountDetails/" + $(this).val();
    //});
    var array = [];
    $(function () {
        $(".table-student-list").dataTable();
    })


    //$(document).on('change', '.class-drop-down', function () {
    //    var id = $(this).val();
    //    if (id != '') {
    //        // resetDropDown('Class');
    //        $.ajax({
    //            url: '/Data/LoadDivision?id=' + id,
    //            type: "GET",
    //            success: function (result) {
    //                if (result.list.length > 0) {
    //                    $("#division-drop-down").html(""); // clear before appending new list
    //                    $("#division-drop-down").append($('<option></option>').val("").html('-- Select Division --'));
    //                    $.each(result.list, function (i, item) {
    //                        $("#division-drop-down").append($('<option></option>').val(item.Value).html(item.Text));
    //                    });
    //                    $("#division-drop-down").prop("disabled", false);
    //                }
    //                else {
    //                    // resetDropDown('Class');
    //                    $("#division-drop-down").html(""); // clear before appending new list
    //                    $("#division-drop-down").append($('<option></option>').val("").html('-- No Division Found --'));
    //                    $("#division-drop-down").prop("disabled", true);
    //                }
    //            }
    //        });
    //    }
    //    else {
    //        //  resetDropDown('Class');
    //    }
    //});

    //$(document).on('change', '#division-drop-down', function () {
    //    array = null;
    //    var id = $(this).val();
    //    if (id != '' || id != 0) {
    //        // resetDropDown('Class');
    //        $.ajax({
    //            url: '/School/GetDiscountSyudentsByDivGrid/' + id,
    //            dataType: 'html',
    //            success: function (data) {
    //                $('#pv-table').html('');
    //                $('#pv-table').html(data);
    //                IntializeDataTable();
    //            },
    //        });
    //    }
    //    else {
    //        //   resetDropDown('Class');
    //    }
    //});



    function AddRemoveUser(source) {
        var btnStatus = $('#hfBtnStatus').val();
        if (array != null) {
            $("#btn-homework").removeClass('isDisabled');
        }
        else {
            $("#btn-homework").addClass('isDisabled');
        }
        var userId = $(source).attr("data-id");
        console.log(userId);
        if ($(source).is(":checked")) {
            // it is checked
            array.push(userId);
            $('#btn-homework').attr('disabled', false);
            console.log(JSON.stringify(array));
        }
        else {
            for (var i = array.length - 1; i >= 0; i--) {
                if (array[i] === userId) {
                    array.splice(i, 1);
                }
            }
            if (array.length == 0) {
                $('#btn-homework').attr('disabled', true);
            }
            console.log(JSON.stringify(array));
        }
    }

    $("#saveDiscount").click(function () {
        //alert($('#Amount').val());
        var FeeId = $('#FeeId').val();
        if ($('#FeeId').val() != '') {
            $("#val_fee").addClass('isHidden');

            if ($('#Amount').val() != '' && $('#Amount').val() != 0) {
                $("#val_amount").addClass('isHidden');
                if (array.length > 0) {
                    var item = new Object();
                    item.FeeId = $("#FeeId").val();
                    item.Amount = $("#Amount").val();
                    item.FeeStudentId = array.toString();
                    $.post("/School/AssignSpecialFee/", item, function (result) {
                        console.log(JSON.stringify(result))
                        if (result.status) {
                            if (result.status) {
                                toastrSuccess(result.msg);
                                window.location.href = '/School/SpecialFeeStudent/' + FeeId;
                                //location.reload();
                                // window.location.href = '/TeacherAdmin/HomeworkList';
                            }
                            else {
                                toastrError(result.msg);
                            }
                        }
                    });
                }
                else {
                    toastrWarning("Please select student");
                }
            }
            else {
                $("#val_amount").removeClass('isHidden');

            }
        }
        else {
            $("#val_fee").removeClass('isHidden');
        }


    });
    $("#FeeId").change(function () {
        $("#val_fee").addClass('isHidden');
    });

    //$(document).on('change', '#FeeId', function () {
    //    array = null;
    //    var id = $(this).val();
    //    if (id != '' || id != 0) {
    //        // resetDropDown('Class');
    //        $.ajax({
    //            url: '/School/GetDiscountSyudentsByFeeId/' + id,
    //            dataType: 'html',
    //            success: function (data) {
    //                $('#pv-table').html('');
    //                $('#pv-table').html(data);
    //                IntializeDataTable();
    //            },
    //        });
    //    }
    //    else {
    //        //   resetDropDown('Class');
    //    }
    //});
</script>