@model TrackTap.Models.FeeModel
@{
    ViewBag.Title = "Assign Discount";
    var students = new TrackTap.Data.Division(Model.DivisionId).GetStudentDetails().OrderBy(z => z.StundentName).ToList();
    Layout = "~/Views/Shared/_SchoolAdminLayout.cshtml";
}
<style>
    .ng-click-studentDiscount-details {
        cursor: pointer;
    }

    .box-color {
        background-color: #fff;
        display: block;
        position: relative;
        float: left;
        width: 100%;
        margin-bottom: 15px;
    }

    .head-box {
        margin-top: 0px;
        background-color: #03a9f4;
        padding: 15px;
        margin-left: -15px;
        margin-right: -15px;
        color: #fff;
        font-weight: 700;
    }
</style>

<input type="hidden" id="hfStudentId" value="@Model.StudentId" />
<div class="row">
    <div class="col-md-12">
        <h3 style="margin-bottom: 0px;">Fee Discount</h3>
        <div class="form-group">
            <a href="/School/BillingDetails/@Model.StudentId" class="btn btn-peek"> Back to Billing</a>
        </div>
        <div class="box-color">
            <div class="col-sm-12" style="border-bottom: 1px solid #ccc;">
                <h5 class="head-box">Save Discount</h5>
                <div class="row" style="margin-top: 1%;">
                    <div class="col-sm-4">
                        @Html.DropDownListFor(m => m.FeeId, new TrackTap.Data.DropdownData().RefreshSchoolFees(Model.SchoolId), "--Choose Fee--", new { @class = "form-control slct-fee-dropdwn", @data_live_search = "true" })
                        <span id="val_fee" class="isHidden" style="color:red">* Select fee</span>
                    </div>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.Amount, new { @class = "form-control", placeholder = "Amount", @type = "number" })
                        <span id="val_amount" class="isHidden">*Amount required</span>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group text-right">
                            <button class="btn pay-now-btn" data-toggle="modal" id="saveDiscount"><i class="fa fa-save"></i> Save </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="pv-table">
            <div class="">
                <table class="table custome-table table-student-list">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Parent Name
                            </th>
                            <th>
                                Address
                            </th>
                            <th>
                                Contact No.
                            </th>
                            <th>
                                Class/Division
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var student in students)
                        {

                            <tr class="ng-click-studentDiscount-details">

                                <td>
                                    <label style="margin-right: 10px;">
                                        <input id="chkBox-user" class="checkbox-input" type="checkbox" data-id="@student.StudentId" onchange="AddRemoveUser(this)" />
                                        <span class="checkbox-virtual"></span>
                                    </label>


                                    @if (student.FilePath != null)
                                    {
                                        <img src="@student.FilePath" class="user-pic-tab" />
                                    }
                                    else
                                    {
                                        <img src="~/Content/img/children-1.gif" class="user-pic-tab" />
                                    }
                                    @student.StundentName
                                </td>
                                <td>
                                    @student.ParentName
                                </td>
                                <td>
                                    @student.Address
                                </td>
                                <td>
                                    @student.ContactNumber
                                </td>
                                <td>
                                    @student.ClassName / @student.DivisionName
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div><!-- end of col md 12 -->
</div>

<script>
    var array = [];
    $(function () {
        $(".table-student-list").dataTable();
    })
    function AddRemoveUser(source) {
        var btnStatus = $('#hfBtnStatus').val();
        if (array != null) {
            $("#btn-homework").removeClass('isDisabled');
        }
        else {
            $("#btn-homework").addClass('isDisabled');
        }
        var userId = $(source).attr("data-id");
        console.log(userId);
        if ($(source).is(":checked")) {
            array.push(userId);
            $('#btn-homework').attr('disabled', false);
            console.log(JSON.stringify(array));
        }
        else {
            for (var i = array.length - 1; i >= 0; i--) {
                if (array[i] === userId) {
                    array.splice(i, 1);
                }
            }
            if (array.length == 0) {
                $('#btn-homework').attr('disabled', true);
            }
            console.log(JSON.stringify(array));
        }
    }

    $("#saveDiscount").click(function () {
        if ($('#FeeId').val() != '') {
            $("#val_fee").addClass('isHidden');
            if ($('#Amount').val() != '' && $('#Amount').val() != 0) {
                $("#val_amount").addClass('isHidden');
                if (array.length > 0) {
                    var item = new Object();
                    item.FeeId = $("#FeeId").val();
                    item.Amount = $("#Amount").val();
                    item.FeeStudentId = array.toString();
                    $.post("/School/AssignDiscount/", item, function (result) {
                        console.log(JSON.stringify(result))
                        if (result.status) {
                            if (result.status) {
                                toastrSuccess(result.msg);
                                var studentId = $('#hfStudentId').val();
                                window.location.href = '/School/BillingDetails/' + studentId;
                            }
                            else {
                                toastrError(result.msg);
                            }
                        }
                    });
                }
                else {
                    toastrWarning("Please select student");
                }
            }
            else {
                $("#val_amount").removeClass('isHidden');

            }
        }
        else {
            $("#val_fee").removeClass('isHidden');
        }
    });
    $("#FeeId").change(function () {
        $("#val_fee").addClass('isHidden');
    });

    

</script>