@model TrackTap.Models.SchoolModelForEmail
@{
    ViewBag.Title = "Email";
    Layout = "~/Views/Shared/_SchoolAdminLayout.cshtml";
    var classModel = new TrackTap.ClassLibrary.PostModel.SchoolClassListPostModel();
    classModel.schoolId = Convert.ToString(Model.SchoolId);
    var DivModel = new TrackTap.ClassLibrary.PostModel.SchoolDivisionListPostModel();
    DivModel.schoolId = Convert.ToString(Model.SchoolId);
    var StudentModel = new TrackTap.ClassLibrary.PostModel.SchoolFullStudentListPostModel();
    StudentModel.schoolId = Convert.ToString(Model.SchoolId);
    var ClassResult = new TrackTap.Repository.SchoolRepository().FullClassList(classModel);
    var ClassList = ClassResult.Item3;
    var studentResult = Tuple.Create<string, string, List<TrackTap.DataLibrary.tb_Student>>(null, null, (dynamic)null);
}
<style>
    .popup-btn {
        margin-top: 10px;
        margin: auto;
        display: block;
    }

    .toggleable-div {
        margin-bottom: 10px;
    }

    .toggle-heading {
        background: #03a9f4;
        color: #fff;
        padding: 5px 15px;
    }

        .toggle-heading i {
            cursor: pointer;
            font-size: 20px;
        }

    .toggle-body {
        background: #ccc;
        padding: 15px;
        display: none;
        float: left;
        width: 100%;
    }

        .toggle-body ul {
            padding: 0;
        }

            .toggle-body ul li {
                display: block;
                float: left;
                margin-right: 30px;
                width: 22%;
                margin-bottom: 10px;
            }

    .sub-menu ul li > a > i {
        font-size: 9px !important;
    }

    .toggle-body ul li input[type=checkbox] {
        margin-right: 5px;
        margin-top: 7px;
        float: left;
    }

    .toggle-body ul li span {
        float: left;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: calc(100% - 25px);
        overflow: hidden;
    }
</style>

<h1>SEND MAIL</h1>

<div class="row">
    <div class="col-md-12">

        <div class="toggleable-div">
            <div class="toggle-heading">
                <input type="checkbox" class="check-all" />
                <span>Select all</span>
            </div><!-- ./toggle-heading -->
        </div><!-- ./toggleable-div -->
        @foreach (var cls in ClassList)
        {
            DivModel.classId = Convert.ToString(cls.ClassId);
            StudentModel.classId = Convert.ToString(cls.ClassId);

            var DivisionResult = new TrackTap.Repository.SchoolRepository().FullDivisionList(DivModel);



            <div class="toggleable-div">

                @foreach (var div in DivisionResult.Item3)
                {
                    StudentModel.divisionId = Convert.ToString(div.DivisionId);

                  
                        studentResult = new TrackTap.Repository.SchoolRepository().FullStudentList(StudentModel);


                   



                    <div class="maindiv">
                        <div class="toggle-heading">
                            <input type="checkbox" class="checklist-sub" />
                            <span>
                                @cls.ClassName
                                @div.DivisionName.ToUpper()
                            </span>
                            <i class="fa fa-caret-down pull-right"></i>
                        </div>
                        <!-- ./toggle-heading -->
                        <div class="toggle-body">
                            <ul>
                                @if (studentResult.Item3.Count > 0)
                                {
                                    foreach (var student in studentResult.Item3)
                                    {
                                        if (student.ParentEmail != null)
                                        {
                                            <li>
                                                <input type="checkbox" class="chk" data-parent-name="@student.ParentName" value="@student.ParentEmail" name="chkphone" data-id="@student.StudentId" /><span>@student.StundentName</span>
                                            </li>
                                                @*<span class="tooltiptext">@student.StundentName</span>*@
                                        }

                                    }
                                }
                                else
                                {
                                    <li><span>No data found</span></li>

                                }


                            </ul>


                        </div><!-- ./toggle-body -->
                    </div>
                }


            </div><!-- ./toggleable-div -->
        }




    </div>
</div><!-- ./row -->
<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info btn-lg" id="btn-send">SEND MESSAGE</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Message</h4>
            </div>
            <div class="modal-body">
                @using (Ajax.BeginForm("EmailStudent", "School", null, new AjaxOptions
                {
                    HttpMethod = "POST",
                    OnSuccess = "AddEmailSuccess",
                    OnFailure = "ajaxFailure"

                }, new { id = "form-dev" }))
                {
                    @Html.HiddenFor(z => z.Data)
                    @Html.HiddenFor(z => z.MessageSentPerStudent)

                    <div class="form-group">
                        <textarea rows="4" cols="50" class="form-control" style="margin-bottom:15px;" id="txt-mesage"></textarea>
                        @*<input type="text" class="form-control" style="margin-bottom:15px;" maxlength="30" />*@
                        <h4>Character Count</h4>
                        <span class="spn-char-count"></span>
                        <h4>Message Count</h4>
                        <span class="spn-msg-count"></span>
                        <button type="button" class="btn btn-primary popup-btn" id="btn-submit-msg">Send</button>
                        <input type="submit" class="btn btn-primary popup-btn" id="btn-submit-msg-dummy" style="display:none" />

                    </div>
                }
            </div>
        </div>

    </div>
</div>
<script> 
    
    var chkArray = [];
    var studentArray = [];
    var item = new Object();
    var list = [];
    var newitem = new Object();
    newitem.List = [];

    $(document).on('keyup', '#txt-mesage', function () {
        $("#btn-submit-msg").removeClass('isDisabled');
        //debugger;
        var messagecount=0;
        var charcount = $("#txt-mesage").val().length;
        var s = charcount / 160;
        $('.spn-char-count').text(charcount)
        var dec = (s - Math.floor(s));
        if (dec > 0) {
            if (charcount != 0) {
                messagecount = parseInt(s) + 1;
                $('.spn-msg-count').text(messagecount)
            }
            else {
                $('.spn-msg-count').text('');
            }
        }
        else {
            $('.spn-msg-count').text('');
        }
        $('#MessageSentPerStudent').val(messagecount)
    });

    function AddEmailSuccess(result) {
        if (result.status) {
            toastrSuccess("Success");
            $('#myModal').modal('hide');
            $('#txt-mesage').val('');
            $('.spn-char-count').text('')
            $('.spn-msg-count').text('')
        }
        else {
            toastrError(result.msg);
        }
    }
    function ajaxFailure() {
        toastrError("Failed!");
    }
    $(document).on('click', '#btn-send', function () {
        newitem.List = [];
        list = [];
        chkArray = [];
        $('.spn-char-count').text('');
        $('.spn-msg-count').text('');
        $('#txt-mesage').val('');
        $(".chk:checked").each(function () {
            var ob = new Object();
            var StudentId = $(this).attr('data-id');
            studentArray.push(StudentId);
            chkArray.push(($(this).val()));
            ob.Email = $(this).val();
            ob.Parentname = $(this).attr('data-parent-name');
            ob.StudentId = StudentId;
            newitem.List.push(ob);
            //console.log($(this).val())
        });
        list.push(newitem)

        if (chkArray.length > 0) {
            $('#myModal').modal('show');

        }
        else {
            toastr.warning("Please select")
        }
    });

    $('.toggle-heading i').click(function () {
        $(this).parent().siblings().toggle();
    });
    $(document).on('click', '#btn-submit-msg', function () {
        //debugger;
        $("#btn-submit-msg").addClass('isDisabled');
        var message = $('#txt-mesage').val();
        if (message != "") {
        newitem.Description = $('#txt-mesage').val();
        if (chkArray.length > 0) {
            item.Description = $('#txt-mesage').val();
            item.Email = chkArray.toString();
            item.StudentId = studentArray.toString();
            newitem.Phone = chkArray.toString();
            $('#Data').val(JSON.stringify(list));
            console.log($('#Data').val());
            $("#btn-submit-msg-dummy").trigger('click');
            //$.post("/School/SMS/", newitem, function (result) {
            //    if (result.message = "success") {
            //        $('#myModal').modal('hide');
            //        toastrSuccess("Success");
            //    }
            //    else {
            //        toastrError(result.msg);
            //    }
            //});
        }
        }
        else {
            toastr.warning("No message content!")
        }
    });

    //select all checkboxes
    $(".check-all").change(function () {  //"select all" change
        $("[type=checkbox]").prop('checked', $(this).prop("checked")); //change all ".checkbox" checked status
    });
    //checklist-sub selection

    $(".checklist-sub").change(function () {

        var source = $(this).parent();
        source.parent().children().eq(1).find('.chk').prop('checked', true);



        if (false == $(this).prop("checked")) { //if this item is unchecked
            source.parent().children().eq(1).find('.chk').prop('checked', false); //change "select all" checked status to false
        }
        ////check "select all" if all checkbox items are checked
        //if ($('[type=checkbox]:checked').length == $('[type=checkbox]').length) {
        //    $(".check-all").prop('checked', true);
        //}
    });
    $(".chk").change(function () {
        if (false == $(this).prop("checked")) { //if this item is unchecked
            console.log($(this).parent().parent().parent().parent().find('.checklist-sub'))
            var source = $(this).parent().parent().parent().parent();
            source.find('.checklist-sub').prop('checked', false); //change "select all" checked status to false
        }
    });
    //".checkbox" change
    $('[type=checkbox]').change(function () {
        //uncheck "select all", if one of the listed checkbox item is unchecked
        if (false == $(this).prop("checked")) { //if this item is unchecked
            $(".check-all").prop('checked', false); //change "select all" checked status to false
            chkArray = [];
        }
        //check "select all" if all checkbox items are checked
        if ($('[type=checkbox]:checked').length == $('[type=checkbox]').length) {
            $(".check-all").prop('checked', true);
        }
    });
</script>

