@model TrackTap.Models.SingleStaffDetails
@{
    ViewBag.Title = "StaffDetails";
    Layout = "~/Views/Shared/_SchoolAdminLayout.cshtml";

}
<div class="form-group">
    <a href="/School/StaffList" class="btn btn-peek"><i class="fa fa-arrow-left"></i> Back</a>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="student_info_sec">
            <div class="student_info">
                <h4>
                    <span>Name</span>
                    <i>:</i>
                    <b>@Model.StaffName</b>
                </h4>
                <h4>
                    <span>Email</span>
                    <i>:</i>
                    <b>@Model.EmailId </b>
                </h4>
                <h4>
                    <span>Contact Number</span>
                    <i>:</i>
                    <b>@Model.ContactNo</b>
                </h4>
                <h4>
                    <span>Special Id</span>
                    <i>:</i>
                    <b>@Model.SpecialId</b>
                </h4>
                <h4>
                    <span>Documents</span>
                    <i>:</i>
                    <a class="btn pay-now-btn" data-toggle="model" data-value="@Model.StaffId" id="btn-staff-FileUpload">File Upload</a>
                </h4>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).on('click', '#btn-staff-FileUpload', function () {
        var staffId = $(this).attr('data-value');
        if (staffId != '') {
            var id = staffId;
            window.location.href = '/School/StaffFileUploadHome/' + id;
        }
    });







</script>