@model TrackTap.Models.SchoolModel
@{
    List<TrackTap.DataLibrary.Data.Student> students;


    if (Model.StudentSpecialId != null)


    {
        students = new TrackTap.DataLibrary.Data.School(Model.schoolId).GetStudentDetailsByAdmissionNo(Model.StudentSpecialId);
       // students = new TrackTap.DataLibrary.Data.Student(Model.StudentSpecialId).GetStudentDetailsByAdmissionNo(Model.StudentSpecialId);
    }
    else
    {
        if (Model.classId != 0)
        {
            students = new TrackTap.DataLibrary.Data.Class(Model.classId).GetStudentDetails();
        }
        else
        {
            students = new TrackTap.DataLibrary.Data.School(Model.schoolId).GetStudentDetails().OrderBy(z => z.StundentName).ToList();
        }
    }


}
<table class="table custome-table" id="listByDiv">
    <thead>
        <tr>
            <th>
                Slno
            </th>
            <th>
                Admission No.
            </th>
            <th>
                Name
            </th>
            <th>
                Class
            </th>
            <th>
                Division
            </th>
            <th>
                Roll No.
            </th>
            <th>
                Contact No
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            var index = 1;
        }
        @foreach (var student in students)
        {


            <tr class="ng-click" data-id="@student.StudentId">
                <td>
                    @index

                </td>
                <td>
                    @student.StudentSpecialId
                </td>
                <td>
                    @student.StundentName
                </td>
                <td>
                    @student.ClassName
                </td>
                <td>
                    @student.Division.DivisionName
                </td>
                <td>
                    @student.ClasssNumber
                </td>
                <td>
                    @student.ContactNumber
                </td>
            </tr>
            index++;
        }
    </tbody>
</table>



