@model TrackTap.Models.StockUpdateModel
@{

}
<style>
    .isHidden {
        display: none;
    }

    span {
        color: red;
    }
</style>

<div class="modal-dialog" role="document" style="background-color: #fff;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel3">Edit Stock</h4>
        </div>
    </div>
    @using (Ajax.BeginForm("SubmitEditStockUpdate", "Laboratory", null, new AjaxOptions
    {
        HttpMethod = "POST",
        OnSuccess = "EditStockUpdateSuccess",
        OnFailure = "EditStockUpdateFailed"
    }, new { id = "form-add-exam" }))
    {
        @Html.HiddenFor(m => m.StockId, new { @value = Model.StockId })
        <div class="row" style="width:100%; padding-left: 10px;">
            <div class="form-group col-sm-4">
                <div class="form-group">
                    <label style="color:black;">Category : </label>
                    <br />
                    @Html.DropDownListFor(m => m.CategoryId, TrackTap.Data.DropdownData.GetLabCategories(Model.SchoolId), new { @class = "form-control slct-lab-category-dropdwn1", @data_live_search = "true", @style = "display:inline-block; width:100%;min-width:180px;" })
                    @Html.ValidationMessageFor(z => z.CategoryId)
                </div>
            </div>
            <div class="form-group col-sm-4">
                <div class="form-group">
                    <label style="color:black;">Item : </label>
                    <br />
                    @Html.TextBoxFor(m => m.Item, new { autocomplete = "off", placeholder = "Item", @class = "form-control" })
                    @Html.ValidationMessageFor(z => z.Item)
                </div>
            </div>
            <div class="form-group col-sm-4">
                <div class="form-group">
                    <label style="color:black;">Price : </label>
                    <br />
                    @Html.TextBoxFor(m => m.Price, new { autocomplete = "off", placeholder = "Price", @class = "form-control" })
                    @Html.ValidationMessageFor(z => z.Price)
                </div>
            </div>

        </div>
        <div class="row" style="width:100%; padding-left: 10px;">
            <div class="form-group col-sm-4">
                <div class="form-group">
                    <label style="color:black;">Purchase Id : </label>
                    <br />
                    @Html.TextBoxFor(m => m.PurchaseId, new { autocomplete = "off", placeholder = "Purchase Id", @class = "form-control" })
                    @Html.ValidationMessageFor(z => z.PurchaseId)
                </div>
            </div>
            <div class="form-group col-sm-4">
                <div class="form-group">
                    <label style="color:black;">Supplir Name : </label>
                    <br />
                    @Html.TextBoxFor(m => m.SupplirName, new { autocomplete = "off", placeholder = "Supplir Name", @class = "form-control", id = "supplier-auto-complete-edit" })
                    @Html.ValidationMessageFor(z => z.SupplirName)
                </div>
            </div>
            <div class="form-group col-sm-4">
                <div class="form-group">
                    <label style="color:black;">Status : </label>
                    <br />
                    @Html.EnumDropDownListFor(m => m.Status, "--Choose--", new { @class = "form-control", @data_live_search = "true" })
                    @Html.ValidationMessageFor(m => m.Status)
                </div>
            </div>
            <div class="col-sm-4">
                <div style="margin-bottom: 16px;">
                    <button type="submit" class="btn pay-now-btn" id="btn-stock-update">Save</button>
                </div>
            </div>

        </div>
    }
</div>
